.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 300px;
}

.form * {
  margin-right: 2rem;
}

.form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.form div label {
  margin-bottom: 0.3rem;
  font-size: 1rem;
}

.form div input {
  max-width: 13rem;
  border: none;
  border-radius: 2px;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-family: inherit;

}

.form div input:is(:focus) {
  outline: 3px solid green;
}

.form button {
  max-width: 7rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  background-color: rgb(9, 134, 9);
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}

.form button:is(:hover, :focus) {
  background-color: rgb(0, 87, 0);
}