.card {
  background-color: rgb(2, 2, 29);
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 3px;
}

.year {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.more {
  font-size: 0.9rem;
  color: rgb(183, 235, 41);
  text-decoration: none;
}

.more:is(:hover, :focus) {
  color: rgb(127, 173, 0);
  border-bottom: 1px solid rgb(127, 173, 0);
}