.App {
  min-height: 100vh;
  background-color: rgb(241, 242, 253);
  padding: 2rem;
}

.main-header {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
}

.container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 1rem; 
}

@media(min-width: 900px) {
  .main-header {
    font-size: 3rem;
  }
}